In [1]:
import pandas as pd
import numpy as np

In [2]:
all_sym = set()
stages = set()

In [3]:
out = {}

In [4]:
import os
for dirpath, dnames, fnames in os.walk("combined-stage-0724/1e-3"):
    for i,file in enumerate(fnames):
        li = []
        sub_df = pd.read_csv(dirpath +  "/" + file)
        stage = sub_df['TumorStage'].values[0]
    
        idx = sub_df['Project'].values[0] + "_"+ stage
        sub_df = sub_df.sort_values("MutationNum",ascending = False)
        out[idx] = list(sub_df['Symbol'].values)

In [5]:
indx = list(out.keys())
indx.sort()
indx

['TCGA-BRCA_Early',
 'TCGA-BRCA_Late',
 'TCGA-COAD_Early',
 'TCGA-COAD_Late',
 'TCGA-HNSC_Early',
 'TCGA-HNSC_Late',
 'TCGA-KIRC_Early',
 'TCGA-KIRC_Late',
 'TCGA-KIRP_Early',
 'TCGA-KIRP_Late',
 'TCGA-LIHC_Early',
 'TCGA-LIHC_Late',
 'TCGA-LUAD_Early',
 'TCGA-LUAD_Late',
 'TCGA-STAD_Early',
 'TCGA-STAD_Late',
 'TCGA-THCA_Early',
 'TCGA-THCA_Late']

In [12]:
index_li = []
for i in out:
    if len(out[i]) > len(index_li):
        index_li = out[i]
df = pd.DataFrame(index = range(len(index_li)),columns = indx)
for i in out:
    n = np.append(out[i], np.repeat(np.nan, len(index_li)-len(out[i])))
    print(n)
    df[i] = n

['TTN' 'PIK3CA' 'TP53' ... 'nan' 'nan' 'nan']
['TP53' 'PIK3CA' 'TTN' ... 'nan' 'nan' 'nan']
['TTN' 'APC' 'SYNE1' ... 'RNU6-389P' 'CCL21' 'HOXB8']
['APC' 'TTN' 'TP53' ... 'nan' 'nan' 'nan']
['TTN' 'TP53' 'FAT1' ... 'nan' 'nan' 'nan']
['TTN' 'TP53' 'CSMD3' ... 'nan' 'nan' 'nan']
['VHL' 'PBRM1' 'TTN' ... 'nan' 'nan' 'nan']
['VHL' 'PBRM1' 'TTN' ... 'nan' 'nan' 'nan']
['TTN' 'MUC16' 'KMT2C' ... 'nan' 'nan' 'nan']
['TTN' 'SETD2' 'NF2' ... 'nan' 'nan' 'nan']
['TTN' 'TP53' 'CTNNB1' ... 'nan' 'nan' 'nan']
['TTN' 'CTNNB1' 'MUC16' ... 'nan' 'nan' 'nan']
['TTN' 'CSMD3' 'MUC16' ... 'nan' 'nan' 'nan']
['TTN' 'MUC16' 'RYR2' ... 'nan' 'nan' 'nan']
['TTN' 'MUC16' 'TP53' ... 'nan' 'nan' 'nan']
['TTN' 'MUC16' 'TP53' ... 'nan' 'nan' 'nan']
['BRAF' 'NRAS' 'TTN' ... 'nan' 'nan' 'nan']
['BRAF' 'TTN' 'NRAS' ... 'nan' 'nan' 'nan']

In [13]:
df.head()

,TCGA-BRCA_Early,TCGA-BRCA_Late,TCGA-COAD_Early,TCGA-COAD_Late,TCGA-HNSC_Early,TCGA-HNSC_Late,TCGA-KIRC_Early,TCGA-KIRC_Late,TCGA-KIRP_Early,TCGA-KIRP_Late,TCGA-LIHC_Early,TCGA-LIHC_Late,TCGA-LUAD_Early,TCGA-LUAD_Late,TCGA-STAD_Early,TCGA-STAD_Late,TCGA-THCA_Early,TCGA-THCA_Late
0,TTN,TP53,TTN,APC,TTN,TTN,VHL,VHL,TTN,TTN,TTN,TTN,TTN,TTN,TTN,TTN,BRAF,BRAF
1,PIK3CA,PIK3CA,APC,TTN,TP53,TP53,PBRM1,PBRM1,MUC16,SETD2,TP53,CTNNB1,CSMD3,MUC16,MUC16,MUC16,NRAS,TTN
2,TP53,TTN,SYNE1,TP53,FAT1,CSMD3,TTN,TTN,KMT2C,NF2,CTNNB1,MUC16,MUC16,RYR2,TP53,TP53,TTN,NRAS
3,MUC16,CDH1,MUC16,SYNE1,AHNAK,FAT1,SETD2,SETD2,KIAA1109,CMYA5,MUC16,TP53,RYR2,TP53,SYNE1,SYNE1,TG,TBC1D12
4,CDH1,GATA3,FAT4,MUC16,MUC16,SYNE1,DST,BAP1,MET,CUBN,PCLO,OBSCN,USH2A,CSMD3,OBSCN,FAT4,MALAT1,USP9X

In [15]:
df.to_csv("new_results/S20.csv")

In [41]:
f = open("S1.csv","w+")
#f.write(out)
f.close()

In [49]:
d = pd.read_csv("S1.csv")

In [43]:
df = d.transpose()

In [41]:
df.to_csv("S1_trans.csv")

In [27]:
df = pd.DataFrame(index = list(all_sym), columns = list(stages))

In [28]:
df

,TCGA-THCA__Stage I,TCGA-LIHC__Stage I,TCGA-READ__Stage II,TCGA-LIHC__Stage IV,TCGA-BRCA__Stage III,TCGA-KIRP__Stage III,TCGA-LUAD__Stage II,TCGA-BRCA__Stage I,TCGA-READ__Stage IV,TCGA-KIRP__Stage I,...,TCGA-STAD__Stage III,TCGA-BRCA__Stage IV,TCGA-THCA__Stage IV,TCGA-LIHC__Stage III,TCGA-THCA__Stage III,TCGA-THCA__Stage II,TCGA-LIHC__Stage II,TCGA-STAD__Stage II,TCGA-STAD__Stage IV,TCGA-KIRC__Stage I
IFFO1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MIR409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZNF790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DCST2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TFPI2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
RAD51C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DUOX2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SAMD10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TFDP3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZNF599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
sub_df.index = sub_df['Symbol']
sub_df = sub_df.drop(['Unnamed: 0','Symbol'],1)
sub_df

            Project TumorStage  SampleNum  MutationNum  GeneLength
Symbol
BRAF      TCGA-THCA    Stage I        281          149      205601
NRAS      TCGA-THCA    Stage I        281           25       12302
TTN       TCGA-THCA    Stage I        281           22      304813
HRAS      TCGA-THCA    Stage I        281            9        5045
KIAA1109  TCGA-THCA    Stage I        281            9      210425

In [3]:
import pandas as pd

In [5]:
df_num = pd.read_csv("mutation_num_gene_length.csv")

In [12]:
sub_df = df_num.loc[df_num['Project'] == "TCGA-COAD"].loc[df_num['Symbol'] == 'TTN']
sub_df

         Project TumorStage  SampleNum Symbol  MutationNum  GeneLength
36226  TCGA-COAD    Stage I         78    TTN          100      304813
47958  TCGA-COAD   Stage II        182    TTN          466      304813
66489  TCGA-COAD  Stage III        131    TTN          131      304813
79590  TCGA-COAD   Stage IV         65    TTN           53      304813

In [13]:
sum(sub_df['MutationNum'])

750

In [9]:
out = {}
import os
for dirpath, dnames, fnames in os.walk("combined-stage-0724/all"):
    for i,file in enumerate(fnames):
        #print(fnames)
        li = []
        sub_df = pd.read_csv(dirpath +  "/" + file)
    
        idx = sub_df['Project'].values[0]
        sub_df = sub_df.sort_values("MutationNum",ascending = False)
        out[idx] = list(sub_df['Symbol'].values)

In [10]:
indx = list(out.keys())
indx.sort()
indx

['TCGA-BRCA',
 'TCGA-COAD',
 'TCGA-HNSC',
 'TCGA-KIRC',
 'TCGA-KIRP',
 'TCGA-LIHC',
 'TCGA-LUAD',
 'TCGA-STAD',
 'TCGA-THCA']

In [11]:
index_li = []
for i in out:
    if len(out[i]) > len(index_li):
        index_li = out[i]
df = pd.DataFrame(index = range(len(index_li)),columns = indx)
for i in out:
    n = np.append(out[i], np.repeat(np.nan, len(index_li)-len(out[i])))
    print(n)
    df[i] = n

['TTN' 'PIK3CA' 'TP53' ... 'nan' 'nan' 'nan']
['TTN' 'APC' 'SYNE1' ... 'EDDM3B' 'EIF1AD' 'LINC01546']
['TTN' 'TP53' 'CSMD3' ... 'nan' 'nan' 'nan']
['VHL' 'PBRM1' 'TTN' ... 'nan' 'nan' 'nan']
['TTN' 'KMT2C' 'MET' ... 'nan' 'nan' 'nan']
['TTN' 'TP53' 'CTNNB1' ... 'nan' 'nan' 'nan']
['TTN' 'MUC16' 'CSMD3' ... 'nan' 'nan' 'nan']
['TTN' 'MUC16' 'TP53' ... 'nan' 'nan' 'nan']
['BRAF' 'NRAS' 'TTN' ... 'nan' 'nan' 'nan']

In [12]:
df.to_csv("new_results/S20_all.csv")